{{ partial "header.html" . }}

  <!-- HOME -->
  {{ partial "hero.html" . }}
  <!-- END HOME -->



  <!-- Features Alt -->
  <section class="section" id="why">
      <div class="container">

          <div class="row">
              <div class="col-sm-12">
                  <div class="text-center">
                      <div class="title-box-icon text-white">
                          <i class="pe-7s-medal"></i>
                          <h3 class="title">Does adding features hurt?</h3>
                      </div>
                  </div>
              </div>
          </div><!-- end row -->

          <div class="row">
              <div class="col-sm-5">
                  <div class="feat-description">
                      <h4 class="text-light">Is your team spending more time putting out fires, than making money?</h4>
                      <p class="text-muted">You're working in loss-prevention mode. Every resource available in your team is ready to jump in and end that outage.
                      Deployments are a pain, so you deploy rarely and only after 10 levels of approval.
                      This is a recipe for failure, in today's fast-paced world and you know it!<br><br>
                      Sounds like you? Read on!
                    </p>
                      <a href="" class="btn btn-custom">Learn More</a>
                  </div>
              </div>

              <div class="col-sm-7">
                  <img src="/images/macbook.png" alt="img" class="img-responsive">
              </div>

          </div><!-- end row -->

      </div> <!-- end container -->
  </section>
  <!-- end features alt -->

  <section class="section bg-light">
     <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <div class="title-box-icon">
                        <i class="pe-7s-medal"></i>
                        <h3 class="title">Having trouble retaining talent? Hiring sucks?</h3>
                    </div>
                </div>
            </div>
        </div><!-- end row -->

        <div class="row">
            <div class="col-sm-5">
                <img src="/images/macbook.png" alt="img" class="img-responsive">
            </div>

            <div class="col-sm-7">
                <div class="feat-description">
                    <h4>You're losing your employees and candidates are very reluctant to work for you.</h4>
                    <p>Although you respect your employees, offer them competitive salaries and know each one of them by name, they're still leaving. If you would survey them, you'll probably find that they're not dissatisfied with you but there's just no room for them to grow, anymore</p>
                    <p>If you ask me, they're leaving because they're tired of putting out fires. Your current methods to operate your business are not competitive anymore. The impression you make is that you're only concerned with making money, at the expense of your employees' wellbeing.</p>
                    <a href="" class="btn btn-custom">Learn More</a>
                </div>
            </div>

        </div><!-- end row -->

    </div> <!-- end container -->
  </section>

  <section class="section">
     <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <div class="title-box-icon text-white">
                        <i class="pe-7s-medal"></i>
                        <h3 class="title">You're losing business to your competition!</h3>
                    </div>
                </div>
            </div>
        </div><!-- end row -->

        <div class="row">

            <div class="col-sm-7">
                <div class="feat-description">
                    <h4 class="text-light">It feels like you're leaving money on the table. Opportunities walk past you and you can't do anything about it.</h4>
                    <p class="text-light">Have you ever wondered how is it that your competition is always ahead of you? I'm sure you have. You probably thought that it's because they have more  money to reinvest, better developers, better marketing. They might even have a saurcerer somewhere.</p>
                    <p class="text-light">Take a look at companies like Amazon, Netflix or Google. They do have huge budgets and a lot of talent. But they don't use that sheer force to push things forward. They work smarter. Remember Amazon's 2-pizza-teams?</p>
                    <a href="" class="btn btn-custom">Learn More</a>
                </div>
            </div>

            <div class="col-sm-5">
                <img src="/images/macbook.png" alt="img" class="img-responsive">
            </div>

        </div><!-- end row -->

    </div> <!-- end container -->
  </section>

  <section class="section bg-light" id="how">
     <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <div class="title-box-icon">
                        <i class="pe-7s-medal"></i>
                        <h3 class="title">There is a better way!</h3>
                    </div>
                </div>
            </div>
        </div><!-- end row -->

        <div class="row">
            <div class="col-sm-5">
                <img src="/images/macbook.png" alt="img" class="img-responsive">
            </div>
            <div class="col-sm-7">
                <div class="feat-description">
                    <h4>Stop adding features to that old monolith and start creating microservices.</h4>
                    <p>That's right! Although it sounds like nonsense, stopping the feature-bloat on your current application is the way to make more money. Start splitting that huge chunk of code into money-making services!</p>
                    <p>Remember that mobile application you wanted to build? Did the work to create separate APIs for your data prove too big of a challenge?
                    With microservices you can think of a mobile app, a web app or a desktop app as a simple representation to your data! You could even create a command line interface for the terminal-lover in your customer.</p>
                    <p>Technology's fast-paced landscape makes it harder and harder to launch features in a 6 months release cycle. With certain companies deploying multiple times a day, it's hard to keep up if you're too far behind the pack.</p>
                    <p>Microservices enable you to deploy as many times you like and perform experiments that would otherwise seem impossible due to the big "blast radius" a monolithic architecture involves.</p>
                    <a href="" class="btn btn-custom">Learn More</a>
                </div>
            </div>

        </div><!-- end row -->

    </div> <!-- end container -->
  </section>

  <section class="section">
     <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <div class="title-box-icon text-white">
                        <i class="pe-7s-medal"></i>
                        <h3 class="title">Where do you start?</h3>
                    </div>
                </div>
            </div>
        </div><!-- end row -->

        <div class="row">
            <div class="col-sm-5">
                <img src="/images/macbook.png" alt="img" class="img-responsive">
            </div>
            <div class="col-sm-7">
                <div class="feat-description">
                    <h4 class="text-light">Get yourself a step-by-step guide how to decompose your application.</h4>
                    <p class="text-light">You might want to go into this whole microservices thing but these skills need to be built into the team. That's not a problem.</p>
                    <p class="text-light">Lack of knowledge when migrating to microservices can become costly. There's no point in hiding the fact that if you have people do research, this might turn into a 2-months project for 4-5 team members. If you assume an average of $100/hour which is a really low rate, in 2 months you'll end up paying around $54.000 for that research. This doesn't take into account that other team members might be struggling to put out fires in production, during that time.</p>
                    <p class="text-light">It also doesn't take into account the divergent opinions and the time needed for things to settle. What if they end up deciding on the wrong implementation. How can they know what is the right way to decompose the application? Is that microservices implementation even a thing?</p>
                    <p class="text-light">" &mdash; But I can't just put the business on pause and have everyone do microservices-related research for 2 months".</p>
                    <p class="text-light">I understand. That's just how business goes. Let me put my experience to work for you. Let's have a meeting and see what your problems are. Let me understand your business and I can provide you a set of detailed materials tailored to your needs that will give you and your team a good starting point for your microservices migration.</p>
                    <p class="text-light">Unlike the businesses I've helped over the past 2 years, you won't be starting from the bottom. You'll start with a solid plan and knowledge built inside your team</p>
                    <a href="" class="btn btn-custom">Learn More</a>
                </div>
            </div>

        </div><!-- end row -->

    </div> <!-- end container -->
  </section>

  <!-- Features -->
  <section class="section bg-light" id="what">
      <div class="container">

          <div class="row">
              <div class="col-sm-12 text-center">
                  <h3 class="title">Give your team a starting point! Get a detailed report and auxiliary materials.</h3>
                  <p class="text-muted sub-title">You will help me understand your business, and I will help you be prepared to make more money.<br>
                  Your team will be ready to embrace the change, they will know precisely what to do and what not to do.<br>
                  Have a look at everything I can offer you.</p>
              </div>
          </div> <!-- end row -->

          <div class="row">

              <div class="col-sm-4">
                  <div class="features-box">
                      <i class="pe-7s-science"></i>
                      <h4>Development Strategy</h4>
                      <p class="text-muted">In-depth information on what strategy to use for development based on your currently used methodology.</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="features-box">
                      <i class="pe-7s-credit"></i>
                      <h4>Testing Strategy</h4>
                      <p class="text-muted">Testing should be part of development! You'll get information on how to integrat this with your current development practices. I will give you a recipe to quickly integrate methodologies such as Test-Driven-Development, end-to-end testing and cross-functional testing in your process.</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="features-box">
                      <i class="pe-7s-rocket"></i>
                      <h4>Deployment strategy</h4>
                      <p class="text-muted">You'll have a clear strategy for deploying your newly created services. Everything will be based off your current setup, cloud (hosting) provider, application requirements, as well as the number / types of services that result from the report.</p>
                      <p class="text-muted">Cost and operational efficiency are key focus points, here.</p>
                  </div>
              </div>



          </div> <!-- end row -->


          <div class="row">
              <div class="col-sm-4">
                  <div class="features-box">
                      <i class="pe-7s-display1"></i>
                      <h4>Decomposition Report</h4>
                      <p class="text-muted">This is the ultimate guideline for your microservices implementation. Depending on your project's requirements, this can be a 90+ page document, packed with knowledge I gathered during my experience implementing microservices, continuous deployment pipelines as well as developing software.</p>
                      <p class="text-muted">Team discussions can be directed around this document. This will help your team skip a lot of the exploratory steps that ultimately will lead up
                      to decisions outlined in the report.</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="features-box">
                      <i class="pe-7s-date"></i>
                      <h4>Regular Check-in</h4>
                      <p class="text-muted">For a period of up to 6 months, I will send you regular emails (every other week) to check on your progress. We can use this opportunity to clarify certain items in the report that seem fuzzy or the team is having trouble agreeing on.</p>
                      <p class="text-muted">The period will vary based on the package you chose, but I can tailor something to your needs. Get in touch!</p>
                  </div>
              </div>


              <div class="col-sm-4">
                  <div class="features-box">
                      <i class="pe-7s-headphones"></i>
                      <h4>Ongoing Support</h4>
                      <p class="text-muted">If you really want to do this by the book, you have the option to receive ongoing support for your implementation. This takes the form of a pick-my-brain retainer service.</p>
                      <p class="text-muted">This means that I make my knowledge available to you via email / phone / skype or other communication technologies. I will act as a sounding board for you or a set of designated people.</p>
                  </div>
              </div>

          </div> <!-- end row -->

      </div> <!-- end container -->
  </section>
  <!-- end Features -->



  <!-- PRICING -->
  <section class="section" id="pricing">
      <div class="container">

          <div class="row">
              <div class="col-sm-12 text-center">
                  <h3 class="title text-white">Choose the plan that fits you</h3>
                  <p class="text-muted sub-title">Many projects, varied needs, three plans to suit every need. Pick the one that fits yours!</p>
              </div>
          </div> <!-- end row -->


          <div class="row">
              <div class="col-lg-10 col-lg-offset-1">
                  <div class="row">

                      <!--Pricing Column-->
                      <article class="pricing-column col-lg-4 col-md-4">
                          <div class="inner-box">
                              <div class="plan-header text-center">
                                  <h3 class="plan-title">Light</h3>
                                  <h2 class="plan-price">TBA</h2>
                                  <!-- <div class="plan-duration">Single Payment</div> -->
                              </div>
                              <ul class="plan-stats list-unstyled">
                                  <li> <i class="pe-7s-display1"></i>Detailed Report</li>
                                  <li> <i class="pe-7s-science"></i>Development Strategy</li>
                                  <li> <i class="pe-7s-credit"></i>Testing Strategy</li>
                                  <li> <i class="pe-7s-rocket"></i>Deployment Strategy</li>
                                  <li> <i class="pe-7s-date"></i>3mo check-in</li>
                              </ul>

                              <div class="text-center">
                                  <a href="#" class="btn btn-sm btn-custom disabled">PICK</a>
                              </div>
                          </div>
                      </article>


                      <!--Pricing Column-->
                      <article class="pricing-column col-lg-4 col-md-4">
                          <div class="inner-box">
                              <div class="plan-header text-center">
                                  <h3 class="plan-title">Mid-Weight</h3>
                                  <h2 class="plan-price">TBA</h2>
                                  <!-- <div class="plan-duration">Single Payment</div> -->
                              </div>
                              <ul class="plan-stats list-unstyled">
                                  <li> <i class="pe-7s-display1"></i>Detailed Report</li>
                                  <li> <i class="pe-7s-science"></i>Development Strategy</li>
                                  <li> <i class="pe-7s-credit"></i>Testing Strategy</li>
                                  <li> <i class="pe-7s-rocket"></i>Deployment Strategy</li>
                                  <li> <i class="pe-7s-date"></i>6mo check-in</li>
                              </ul>

                              <div class="text-center">
                                  <a href="#" class="btn btn-sm btn-custom disabled">PICK</a>
                              </div>
                          </div>
                      </article>


                      <!--Pricing Column-->
                      <article class="pricing-column col-lg-4 col-md-4">
                          <div class="inner-box">
                              <div class="plan-header text-center">
                                  <h3 class="plan-title">Heavy Weight</h3>
                                  <h2 class="plan-price">TBA</h2>
                                  <!-- <div class="plan-duration">Single Payment</div> -->
                              </div>
                              <ul class="plan-stats list-unstyled">
                                  <li> <i class="pe-7s-display1"></i>Detailed Report</li>
                                  <li> <i class="pe-7s-science"></i>Development Strategy</li>
                                  <li> <i class="pe-7s-credit"></i>Testing Strategy</li>
                                  <li> <i class="pe-7s-rocket"></i>Deployment Strategy</li>
                                  <li> <i class="pe-7s-headphones"></i>Quarterly retainer *</li>
                              </ul>

                              <div class="text-center">
                                  <a href="#" class="btn btn-sm btn-custom disabled">PICK</a>
                              </div>
                          </div>
                      </article>

                  </div>
              </div><!-- end col -->
          </div>
           <!-- end row -->

      </div> <!-- end container -->
  </section>
  <!-- End Pricing -->


  <!-- Clients -->
  <section class="section bg-light" id="#qna">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 text-center">
                  <h3 class="title">This sounds good, but I have some questions?</h3>
                  <p class="text-muted sub-title">It would have been awkward if you didn't have. Here are a couple of questions and answers.</p>
              </div>
          </div>
          <!-- end row -->

          <div class="row">
            <div class="col-sm-6">
                <div class="feat-description">
                    <h4>Are you legit?</h4>
                    <p>Yes, I am! This, as well as <a href="https://oprea.rocks">oprea.rocks</a> and many other entities to come, belong to me, <a href="https://www.linkedin.com/in/opreageorgeadrian">Adrian George Oprea</a> and the company I own NEURON01 DEVELOPMENT SRL.<br>
                    <a href="#" class="btn btn-sm btn-custom">Get in touch</a></p>

                    <h4>How will you help me?</h4>
                    <p>We will have a couple of meetings for me to understand your business. We'll find your current issues, what drives revenue to you as well as discuss your plans for the future. <br>
                    We will involve every person that could provide relevant input. Based on this analysis, I will then put together a plan for you to migrate your current application to a microservice-based architecture.</p>

                    <h4>Can you help me build a team?</h4>
                    <p>I can help guide you through the process of recruiting skilled people to achieve your business goals. I could act as a sounding board for you, and provide information based on my experience with recruiting technical people.<br>
                    <a href="#" class="btn btn-sm btn-custom">Pick my brain</a></p>

                    <h4>What if I have a really big project?</h4>
                    <p>If you think you have a huge project and your requirements go past what I mentioned on this website, email me directly and let's see where you're at.<br>
                    <a href="#" class="btn btn-sm btn-custom">Get in touch</a></p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feat-description">
                    <h4>Why should I choose you over X Consulting Corp.?</h4>
                    <p>I'm a one-man-show, and I know this might seem as a disadvantage. It is this exact feature that enables me to be so proficient. I don't need to deploy a full-blown team of Business Analysts, legal department and four requirements engineers to roam your headquarters, to understand your business and provide value. I do capacity planning. I can only work on 2 projects in parallel. This makes me more focused on your project and reduces the oh-so-expensive context-switching.<br>
                    <a href="#" class="btn btn-sm btn-custom">I want fast delivery</a></p>

                    <h4>Do you offer trainings?</h4>
                    <p>Yes, I do! Let's get in touch, assess your business needs, your project needs and your team needs. Based on that, I can offer you training focused on your team's needs.<br>
                    <a href="#" class="btn btn-sm btn-custom">I need training</a></p>

                    <h4>What if I only want to pick your brain?</h4>
                    <p>If that's what you want, <a href="">contact me</a> and let's set everything up so you can gain quick access to my "smarts".<br>
                    <a href="#" class="btn btn-sm btn-custom">Pick my brain</a></p>

                    <h4>What if I want revisions or clarification after delivery?</h4>
                    <p>This is precisely why every plan has regular check-in period. I don't want to drop you a report and some documents and flee into the dark. We'll have constant communication and I will do my best to properly explain all the sections that seem unclear.</p>
                </div>
            </div>

        </div><!-- end row -->
<!--
        <div class="row">
          <div class="text-center">
              <a href="#" class="btn btn-sm btn-custom">Cool! Show me the goods!</a>
          </div>
        </div> -->
      </div>
  </section>
  <!--End  Clients -->


  <!-- Subscribe -->
  <section class="section bg-custom">
      <div class="container">

          <div class="row">
              <div class="col-sm-12 text-center">
                  <h3 class="title text-white">Need more info?</h3>
                  <p class="text-light sub-title">Why not book a free 15-minute Skype call with me?<br>Insert your email below and let's find a time to meet.</p>
              </div>
          </div><!-- End row -->

          <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                  <form class="text-center" action="http://coderthemes.us13.list-manage.com/subscribe/post?u=0cc5de5f50afa8474a1006b6b&amp;id=e0e46dd0d1"
                        id="subscribe-form" method="get">
                      <div class="form-group m-b-0">
                          <input type="email" class="form-control input-subscribe" id="mce-EMAIL" name="EMAIL"
                                 placeholder="Enter e-mail address" required>
                          <label for="mce-EMAIL"></label>
                      </div>

                      <button type="submit" class="btn btn-white-fill">Send</button>
                  </form>
              </div>
          </div><!-- End row -->

      </div> <!-- end container -->
  </section>
  <!-- End Subscribe -->



  <!-- FOOTER -->
  <footer class="section bg-gray footer">
      <div class="container">
          <div class="row">

              <div class="col-md-3 col-sm-6">
                  <h5>Social</h5>
                  <ul class="list-unstyled">
                      <li><a href="">GitHub</a></li>
                      <li><a href="">Twitter</a></li>
                      <li><a href="">Website</a></li>
                      <li><a href="">Linkedin</a></li>
                  </ul>
              </div>

              <div class="col-md-3 col-sm-6">
                  <h5>Contact</h5>
                  <address>
                      #1 Plopilor Str.<br>
                      Pitesti, RO 110329<br>
                      E: <a href="mailto:adrian@oprea.rocks">adrian@oprea.rocks</a>
                  </address>
              </div>

          </div> <!-- end row -->

          <div class="row">
              <div class="col-sm-12">
                  <div class="footer-alt text-center">
                      <p class="text-muted m-b-0">&copy; 2017 <a href="https://oprea.rocks" title="copyright owner">Adrian Oprea</a> | <a href="https://monolithsplit.com">monolithsplit.com</a></p>
                  </div>
              </div>
          </div> <!-- end row -->

      </div> <!-- end container -->
  </footer>
  <!-- END FOOTER -->


  <!-- Back to top -->
  <a href="#" class="back-to-top" id="back-to-top"> <i class="pe-7s-angle-up"> </i> </a>

{{ partial "footer.html" }}
