{{ partial "header.html" . }}

  <!-- HOME -->
  {{ partial "hero.html" . }}
  <!-- END HOME -->



  <!-- Features Alt -->
  <section class="section" id="why">
      <div class="container">

          <div class="row">
              <div class="col-sm-12">
                  <div class="text-center">
                      <div class="title-box-icon text-white">
                          <i class="pe-7s-bandaid"></i>
                          <h3 class="title">Does adding features hurt?</h3>
                      </div>
                  </div>
              </div>
          </div><!-- end row -->

          <div class="row">
              <div class="col-sm-5">
                  <div class="feat-description text-white">
                      <h4>Spending more time firefighting than making money?</h4>
                      <p>You're working in loss-prevention mode. You are becoming risk-averse and your team is only replicating the behavior.
                      All initiatives are seen as too risky and are shut down before they get the chance to prove their value.
                      You have every available team member ready to jump in and put out fires.
                      Deployments are a pain, so you deploy rarely. The process is either undocumented or too difficult to follow.
                      Technology is moving too fast for you to be working like this!<br><br>
                      Sounds like you? Read on!
                    </p>
                  </div>
              </div>

              <div class="col-sm-7">
                  <img src="/images/features.jpg" alt="img" class="img-responsive">
              </div>

          </div><!-- end row -->

      </div> <!-- end container -->
  </section>
  <!-- end features alt -->

  <section class="section bg-light">
     <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <div class="title-box-icon">
                        <i class="pe-7s-user-female"></i>
                        <h3 class="title">Trouble retaining talent? Hiring sucks?</h3>
                    </div>
                </div>
            </div>
        </div><!-- end row -->

        <div class="row">
            <div class="col-sm-5">
                <img src="/images/office-white.jpg" alt="img" class="img-responsive">
            </div>

            <div class="col-sm-7">
                <div class="feat-description">
                    <h4>Are you losing your most valuable employees?</h4>
                    <p>Although you respect them, offer proper compensation and know each of them by name, they're still leaving.
                    If you would survey them, they'll probably tell you that they feel stagnant, there's just no room for them to grow, anymore.</p>
                    <p>If you ask me, they're tired of putting out fires. They have to run from one emergency to the next and it all seems like a never-ending cycle.</p>
                </div>
            </div>

        </div><!-- end row -->

    </div> <!-- end container -->
  </section>

  <section class="section">
     <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <div class="title-box-icon text-white">
                        <i class="pe-7s-cash"></i>
                        <h3 class="title">You're losing business to your competition!</h3>
                    </div>
                </div>
            </div>
        </div><!-- end row -->

        <div class="row">

            <div class="col-sm-7">
                <div class="feat-description text-white">
                    <h4>You're throwing money out the window!</h4>
                    <p>Have you ever wondered how is it that your competition is always ahead of you? You probably thought it's because they have bigger budgets, better developers or better marketing staff. They might even have a saurcerer somewhere.<br>
                    You experimented with bigger budgets and increasing the headcount. All you ended up doing was wasting more money.</p>
                    <p>Take a look at companies like Amazon, Netflix or Google. They have amazing R&amp;D budgets and a huge talent pool. They don't use that sheer force to push things in the right direction. They work smarter.
                    Ever heard of Amazon's 2-pizza-teams? That's what they use to develop things like Amazon Web Services (AWS).</p>
                </div>
            </div>

            <div class="col-sm-5">
                <img src="/images/bike-race.jpg" alt="img" class="img-responsive">
            </div>

        </div><!-- end row -->

    </div> <!-- end container -->
  </section>

  <section class="section bg-light" id="how">
     <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <div class="title-box-icon">
                        <i class="pe-7s-light"></i>
                        <h3 class="title">There is a better way!</h3>
                    </div>
                </div>
            </div>
        </div><!-- end row -->

        <div class="row">
            <div class="col-sm-5">
                <img src="/images/stop.jpg" alt="img" class="img-responsive">
            </div>
            <div class="col-sm-7">
                <div class="feat-description">
                    <h4>Stop adding features to that old monolith. Start implementing microservices.</h4>
                    <p>That's right! Although it sounds like nonsense, stopping the feature-bloat on your current application is the way to make more money. Start splitting that huge chunk of code into money-making services, architected around your business!</p>
                    <p>Remember that mobile application you wanted to build? Did you end up dropping it because it involved too much work?
                    With microservices you can think of a mobile app, a web app or a desktop app as representations of your data! You could even create a command line interface for the terminal-loving clients!</p>
                    <p>There's just no room for 6-month release cycles. Technology is moving too fast and changing the world around us. With companies deploying multiple times a day, it's hard not to be left behind.</p>
                    <p>Microservices enable you to deploy as many times you like and perform experiments that would otherwise seem impossible due to the big "blast radius" in a monolithic architecture.</p>
                </div>
            </div>

        </div><!-- end row -->

    </div> <!-- end container -->
  </section>

  <section class="section">
     <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <div class="title-box-icon text-white">
                        <i class="pe-7s-map-2"></i>
                        <h3 class="title">Where do you start?</h3>
                    </div>
                </div>
            </div>
        </div><!-- end row -->

        <div class="row">
            <div class="col-sm-7">
                <div class="feat-description text-white">
                    <h4>Get a business-oriented microservices decomposition report.</h4>
                    <p>Why have your team waste time in uncharted territory? Lack of knowledge when migrating to microservices can become costly.</p>
                    <p> There's no point in hiding the fact that this can quickly turn into a 2-month project for the whole team. Assuming a team of 5 and a yearly average salary of $90.000, in 2 months you'll end up paying around $75.000 for the research. This doesn't take into account all the other taxes and expenses on your end. And I'm not even mentioning the ongoing firefighting that still has to take place. Or the time needed for people to agree on specific concepts and terms.</p>
                    <p>If you think you can't just pause your business for 2 months, I totally agree! Let me put my experience to work for you. In the past couple of years, I helped clients migrate from huge single-codebase applications, to slim, easy to maintain microservices. I implemented continuous deployment pipelines, took part in software development and helped with key technical decisions.<p>
                    <p>Let's have a meeting and assess your situation. Let me understand your business and I can provide you a set of detailed materials tailored to your specific needs. This will give you and your team a good starting point for your microservices migration.</p>
                    <p>Unlike the businesses I've helped over the past 2 years, you won't be starting from the bottom. You'll start with a solid plan and the proper knowledge, readily available to your team.</p>
                </div>
            </div>

            <div class="col-sm-5">
                <img src="/images/report.jpg" alt="img" class="img-responsive">
            </div>
        </div><!-- end row -->

    </div> <!-- end container -->
  </section>

  <!-- Features -->
  <section class="section bg-light" id="what">
      <div class="container">

          <div class="row">
              <div class="col-sm-12 text-center">
                  <h3 class="title">Give your business another chance!</h3>
                  <p class="text-muted sub-title">Help me understand your business, and I will help you prepare it to make more money.<br>
                  Instead of trying to predict change, you will be prepared to react to it.<br>
                  Here's everything you will get from me.</p>
              </div>
          </div> <!-- end row -->

          <div class="row">

              <div class="col-sm-4">
                  <div class="features-box">
                      <i class="pe-7s-science"></i>
                      <h4>Development Strategy</h4>
                      <p class="text-muted">In-depth information and actionable items for you to build proper software development practices into your teams.</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="features-box">
                      <i class="pe-7s-credit"></i>
                      <h4>Testing Strategy</h4>
                      <p class="text-muted">You will get guidance to quickly integrate methodologies such as Test-Driven-Development, end-to-end testing and cross-functional testing in your process.</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="features-box">
                      <i class="pe-7s-rocket"></i>
                      <h4>Deployment strategy</h4>
                      <p class="text-muted">A clear deployment strategy for your newly created services.
                      Cost and operational efficiency are key focus points.</p>
                  </div>
              </div>



          </div> <!-- end row -->


          <div class="row">
              <div class="col-sm-4">
                  <div class="features-box">
                      <i class="pe-7s-display2"></i>
                      <h4>Decomposition Report</h4>
                      <p class="text-muted">The ultimate guideline for your microservices implementation. A 90+ page document, packed with knowledge gathered from experience architecting and implementing microservices.</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="features-box">
                      <i class="pe-7s-date"></i>
                      <h4>Regular Check-in</h4>
                      <p class="text-muted">Constant communication through regular emails (every other week) for up to 6 months, to make sure you are on track. We can use this opportunity to get extra value from the report.</p>
                  </div>
              </div>


              <div class="col-sm-4">
                  <div class="features-box">
                      <i class="pe-7s-headphones"></i>
                      <h4>Ongoing Support</h4>
                      <p class="text-muted">All my knowledge and experience at your service, via email / phone / skype or other communication technologies. I will act as a sounding board for you or a set of designated people, and I will assist you when making key decisions.</p>
                  </div>
              </div>

          </div> <!-- end row -->

      </div> <!-- end container -->
  </section>
  <!-- end Features -->



  <!-- PRICING -->
  <section class="section" id="pricing">
      <div class="container">

          <div class="row">
              <div class="col-sm-12 text-center">
                  <h3 class="title text-white">Plans</h3>
                  <p class="text-muted sub-title">Choose a plan, based on your business needs.</p>
              </div>
          </div> <!-- end row -->


          <div class="row">
              <div class="col-lg-10 col-lg-offset-1">
                  <div class="row">

                      <!--Pricing Column-->
                      <article class="pricing-column col-lg-4 col-md-4">
                          <div class="inner-box">
                              <div class="plan-header text-center">
                                  <h3 class="plan-title">Lightweight</h3>
                                  <h2 class="plan-price">TBA</h2>
                                  <!-- <div class="plan-duration">Single Payment</div> -->
                              </div>
                              <ul class="plan-stats list-unstyled">
                                  <li> <i class="pe-7s-display2"></i>Detailed Report</li>
                                  <li> <i class="pe-7s-science"></i>Development Strategy</li>
                                  <li> <i class="pe-7s-credit"></i>Testing Strategy</li>
                                  <li> <i class="pe-7s-rocket"></i>Deployment Strategy</li>
                                  <li> <i class="pe-7s-date"></i>3mo check-in</li>
                              </ul>

                              <div class="text-center">
                                  <a href="#" class="btn btn-sm btn-custom disabled">PICK</a>
                              </div>
                          </div>
                      </article>


                      <!--Pricing Column-->
                      <article class="pricing-column col-lg-4 col-md-4">
                          <div class="inner-box">
                              <div class="plan-header text-center">
                                  <h3 class="plan-title">Middleweight</h3>
                                  <h2 class="plan-price">TBA</h2>
                                  <!-- <div class="plan-duration">Single Payment</div> -->
                              </div>
                              <ul class="plan-stats list-unstyled">
                                  <li> <i class="pe-7s-display2"></i>Detailed Report</li>
                                  <li> <i class="pe-7s-science"></i>Development Strategy</li>
                                  <li> <i class="pe-7s-credit"></i>Testing Strategy</li>
                                  <li> <i class="pe-7s-rocket"></i>Deployment Strategy</li>
                                  <li> <i class="pe-7s-date"></i>6mo check-in</li>
                              </ul>

                              <div class="text-center">
                                  <a href="#" class="btn btn-sm btn-custom disabled">PICK</a>
                              </div>
                          </div>
                      </article>


                      <!--Pricing Column-->
                      <article class="pricing-column col-lg-4 col-md-4">
                          <div class="inner-box">
                              <div class="plan-header text-center">
                                  <h3 class="plan-title">Heavyweight</h3>
                                  <h2 class="plan-price">TBA</h2>
                                  <!-- <div class="plan-duration">Single Payment</div> -->
                              </div>
                              <ul class="plan-stats list-unstyled">
                                  <li> <i class="pe-7s-display2"></i>Detailed Report</li>
                                  <li> <i class="pe-7s-science"></i>Development Strategy</li>
                                  <li> <i class="pe-7s-credit"></i>Testing Strategy</li>
                                  <li> <i class="pe-7s-rocket"></i>Deployment Strategy</li>
                                  <li> <i class="pe-7s-headphones"></i>Quarterly retainer *</li>
                              </ul>

                              <div class="text-center">
                                  <a href="#" class="btn btn-sm btn-custom disabled">PICK</a>
                              </div>
                          </div>
                      </article>

                  </div>
              </div><!-- end col -->
          </div>
           <!-- end row -->

          <div class="row">
              <div class="col-sm-12 text-center">
                  <p class="text-muted sub-title">Need help deciding? I'm glad to help. <a href="#" class="btn btn-sm btn-custom">Contact me</a></p>
              </div>
          </div> <!-- end row -->
      </div> <!-- end container -->
  </section>
  <!-- End Pricing -->


  <!-- Clients -->
  <section class="section bg-light" id="faq">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 text-center">
                  <h3 class="title">Sounds great, but I have some questions.</h3>
                  <p class="text-muted sub-title">It would have been awkward if you didn't. Here are a couple of questions and answers.</p>
              </div>
          </div>
          <!-- end row -->

          <div class="row">
            <div class="col-sm-6">
                <div class="feat-description">
                    <h4>Are you legit?</h4>
                    <p>Yes, I am! This, as well as <a href="https://oprea.rocks">oprea.rocks</a> and many other entities to come, belong to me, <a href="https://www.linkedin.com/in/opreageorgeadrian">Adrian George Oprea</a> and the company I own NEURON01 DEVELOPMENT SRL.<br>
                    <a href="#" class="btn btn-sm btn-custom">Get in touch</a><br><br></p>

                    <h4>How will you help me?</h4>
                    <p>We will have 1-2 meetings during which I will do my best to understand your business. We will identify together your current issues. We will look at what  drives revenue to you as well as discuss your plans for the future. Every person who can provide relevant input will be involved.<br>
                    After collecting all the information I will put together a plan, tailored to your needs, to help you and your team with your microservices migration.</p>

                    <h4>Can you help me build a team?</h4>
                    <p>I can help guide you through the process of recruiting skilled people to achieve your business goals. I can act as a sounding board for you, and provide information based on my experience recruiting technical people.<br>
                    <a href="#" class="btn btn-sm btn-custom">I need to build a team</a><br><br></p>

                    <h4>What if I have a really big project?</h4>
                    <p>If you think you have a huge project and your requirements go past what I outlined above, email me directly and let's see how I can help you.<br>
                    <a href="#" class="btn btn-sm btn-custom">I have a big project</a><br><br></p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feat-description">
                    <h4>Why should I choose you over X Consulting Corp.?</h4>
                    <p>Being a solo consultant might seem like a disadvantage, at first. It is this exact feature that enables me to be so proficient. I don't need to deploy a full-blown team of Business Analysts, legal department and four requirements engineers to roam your headquarters. I can understand your business and provide value without any of that. I don't do capacity planning. I can only work on 2 projects in parallel. This makes me more focused on your needs and reduces the oh-so-expensive context-switching.<br>
                    <a href="#" class="btn btn-sm btn-custom">I want fast delivery</a><br><br></p>

                    <h4>Do you offer trainings?</h4>
                    <p>Yes, I do! Let's get in touch, assess your business needs, your project needs and your team needs.<br>
                    <a href="#" class="btn btn-sm btn-custom">I need training</a><br><br></p>

                    <h4>What if I only want to pick your brain?</h4>
                    <p>If that's what you want, <a href="">contact me</a> and let's set everything up so you can gain quick access to my "smarts".<br>
                    <a href="#" class="btn btn-sm btn-custom">I want to pick your brain</a><br><br></p>

                    <h4>What if I want revisions or clarification after delivery?</h4>
                    <p>This is precisely why every plan has regular check-in period. I don't want to drop you a report and some documents and flee into the dark. We'll have constant communication and I will do my best to properly explain all the sections that seem unclear.<br><br></p>
                </div>
            </div>

        </div><!-- end row -->

        <div class="row">
          <div class="text-center">
              <a href="#" class="btn btn-sm btn-custom">I have a different question</a>
          </div>
        </div>

      </div>
  </section>
  <!--End  Clients -->


  <!-- Contact -->
  <section class="section bg-custom" id="contact">
      <div class="container">

          <div class="row">
              <div class="col-sm-12 text-center">
                  <h3 class="title text-white">My business is more complicated</h3>
                  <p class="text-white">If business were simple, everyone would be donig it! <br>
                  Why not book a free 30 minute Skype call with me and let's see how I can help you?<br>
                  Type your email below and I'll get in touch to set a time for us to meet.</p>
              </div>
          </div><!-- End row -->

          <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                  <form class="text-center" action="test" id="footer-FORM" method="get">
                      <div class="form-group m-b-0">
                          <input type="email" class="form-control input-subscribe" id="footer-EMAIL" name="footer-EMAIL"
                                 placeholder="Enter e-mail address" required>
                          <label for="footer-EMAIL"></label>
                      </div>

                      <button type="submit" class="btn btn-white-fill btn-lg">Send</button>
                  </form>
              </div>
          </div><!-- End row -->

      </div> <!-- end container -->
  </section>
  <!-- End Contact -->



  <!-- FOOTER -->
  <footer class="section bg-gray footer">
      <div class="container">
          <div class="row">

              <div class="col-md-3 col-sm-6">
                  <h5>Social</h5>
                  <ul class="list-unstyled">
                      <li><a href="https://github.com/opreaadrian/">GitHub</a></li>
                      <li><a href="https://twitter.com/opreaadrian">Twitter</a></li>
                      <li><a href="https://oprea.rocks">Website</a></li>
                      <li><a href="https://www.linkedin.com/in/opreageorgeadrian">Linkedin</a></li>
                  </ul>
              </div>

              <div class="col-md-3 col-sm-6">
                  <h5>Contact</h5>
                  <address>
                      #1 Plopilor Str.<br>
                      Pitesti, RO 110329<br>
                      E: <a href="mailto:adrian@oprea.rocks">adrian@oprea.rocks</a>
                  </address>
              </div>

          </div> <!-- end row -->

          <div class="row">
              <div class="col-sm-12">
                  <div class="footer-alt text-center">
                      <p class="text-muted m-b-0">&copy; 2017 <a href="https://oprea.rocks" title="copyright owner">Adrian Oprea</a> | <a href="https://monolithsplit.com">monolithsplit.com</a></p>
                  </div>
              </div>
          </div> <!-- end row -->

      </div> <!-- end container -->
  </footer>
  <!-- END FOOTER -->


  <!-- Back to top -->
  <a href="#" class="back-to-top" id="back-to-top"> <i class="pe-7s-angle-up"> </i> </a>

{{ partial "footer.html" }}
