    <!-- FOOTER -->
    <footer class="section bg-gray footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="footer-alt text-center">
                        <p class="text-muted m-b-0">
                            &copy; 2017 
                            <a href="https://oprea.rocks" title="copyright owner">Adrian Oprea</a> | 
                            <a href="https://monolithsplit.com">monolithsplit.com</a> | 
                            <a href="https://github.com/opreaadrian/">GitHub</a> |
                            <a href="https://twitter.com/opreaadrian">Twitter</a> | 
                            <a href="https://www.linkedin.com/in/opreageorgeadrian">Linkedin</a>
                        </p>
                    </div>
                </div>
            </div> <!-- end row -->

        </div> <!-- end container -->
    </footer>
    <!-- END FOOTER -->


    <!-- Back to top -->
    <a href="#" class="back-to-top" id="back-to-top"> <i class="pe-7s-angle-up"> </i> </a>
    {{ partial "javascripts.html" }}
    </body>
</html>
