  <section class="bg-custom home bg-image" id="home">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 text-center">
                  <div class="home-fullscreen" id="home-fullscreen">
                      <div class="full-screen">
                          <div class="home-wrapper home-wrapper-alt">
                              <h1 class="font-light text-white">{{ .Site.Params.hero.title }}</h1>
                              <h4 class="text-white">{{ .Site.Params.hero.subtitle }}</h4>
                              <a href="" class="btn btn-white-bordered btn-lg">{{ .Site.Params.hero.callToAction }}</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
